pyecharts_javascripthon
flask
itchat
codecs
json
os
random
math
PIL
pandas
pyecharts
collections
jieba
collections
echarts-countries-pypkg
echarts-china-provinces-pypkg
echarts-china-cities-pypkg
echarts-china-counties-pypkg
echarts-china-misc-pypkg
echarts-cities-pypkg